*{
    margin: 0;
    box-sizing: border-box;
}

.footerbg{
    background-color: #2F434A !important; 
    color: white !important;
    font-family: Marcellus;
    font-size: 36px !important;

 
}

.footerbg p {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.footerContainer{
    flex-direction: column;
    margin: 2px;
    padding:2px;

}

.btn {
    color: #ACD8EC !important;
    font-size: 26px;
    border:0px;
    
    
}

.icon{
    font-size: 30px;
}

*, ::after, ::before {
    border: 0px !important;
}
body {
    background-color: #2F434A;
    opacity: 90% !important;
}

/* Header */

.title {
    font-family: "Marcellus";
    text-decoration: none;
}

.navbar-brand {
    color: white !important;
}
.navbar-nav .dropdown-menu, .navbar-nav {
    background-color: #C2CED6 !important;
    opacity: 85% !important;
    border: 0px !important;
}  

.navbar-text, .nav-link, .dropdown-item {
    color: #000 !important;
    padding-right: 20px !important;
    font-family: "Marcellus" !important;
    font-size: medium !important;
}

.header{
    background-color: #2F434A;
}

.navbar-toggler-icon {
    color: white !important;
    border: none !important;
}
.navbar-toggler-icon:hover, .navbar-toggler:hover {
    background-color: #C2CED6 !important;
    opacity: 85% !important;
    border: 0px !important;
    border-radius: 0 !important;
}


@media (min-width: 722px) {
    .navbar-nav .dropdown-menu, .navbar-nav {
        background-color: #2F434A !important;
    }  
    .navbar-text, .nav-link, .dropdown-item {
        color: white !important;
    }
}

