@import url(Contact.css);
@import url(Footer.css);
@import url(TheArtist.css);
@import url(Dashboard.css);
@import url(SectionItem.css);
@import url(Home.css);
@import url(ButtonGeneric.css);
@import url(UpcomingEvent.css);
@import url(Perfomances.css);
@import url(Works.css);
@import url(AccordionComponent.css);

*{
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    
}


body {
    display: flex ;
    flex-direction: column ;
    /* min-height:50vh; */
    flex-wrap: wrap; 
    margin-top: 80px !important;
    background-color: #43555C !important;
    color: white !important;
    font-family: Poppins;
 
}
  .btn {
    color: #ACD8EC !important;
    font-size: 22px;
    border:1px solid #ACD8EC !important ;
    cursor: pointer !important
  
}
.btn:hover{
    background-color: rgb(194, 206, 214) !important;
    color: black !important;
}

.offcanvas {
    background-color: #2F434A !important;
}

.btn-close, .offcanvas-header .btn-close {
    background-color: #c2ced6 !important;
}

.navbar-toggler {
    background-color:#c2ced6 !important;
}


/****** HEADER ******/

.title, .link {
    font-family: "Marcellus" !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
    margin-left: 0px;
}
.subtitle {
    margin-left: 20px;

}


.link-header{
 position: relative;
 color: white;
 text-decoration: none;
 font-size: 17px;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #ACD8EC !important;
}

.link-header:hover{
  color: white;
}

.link-header::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  top: 20px;
  left: 0;
  background-color: #ACD8EC;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s ease;
}

.link-header:hover::before{
    transform: scaleX(1);
}



.offcanvas.offcanvas-end {
    width: 220px !important;
    border-left: 160px !important;
    opacity: 0.85 !important;
    transform: translateX(100%);
}



.link-header-menu:hover::before{
    transform: scaleX(0.85);
}

.navbar-text{
    display: flex;
   
}
.navbar-brand {
    color: white !important;
}
.navbar-nav .dropdown-menu, .navbar-nav {
    opacity: 80% !important;
    border: 0px !important;
}  
.dropdown-menu {
    background-color: #2F434A !important;
}
.navbar-text, .nav-link, .dropdown-item {
   
    padding-right: 20px !important;
    font-family: "Marcellus" !important;
    font-size: medium !important;
    flex-direction: column;
    /* text-align: end !important; */
}

.navbar-text:hover, .nav-link:hover, .dropdown-item:hover, .navbar-text a:hover {
    text-decoration: none !important;
    background-color: #2F434A !important;
    
}

.dropdown-item:hover {
    background-color: #000;
}

.header{
    background-color: #2F434A;
    /* right: 10px !important; */
}

span.navbar-toggler-icon {
    color: white !important;
    border: none !important; 
}
.navbar-toggler-icon:hover, .navbar-toggler:hover {
    background-color: #2F434A !important;
    opacity: 85% !important;
    border: 0px !important;
    border-radius: 0 !important;
    color: white !important;
}

.navbar-toggler:focus {
    box-shadow: none !important; 
}

.offcanvas {
    max-width: 80% !important;
    
}
/****** END HEADER ******/



/**********LOGIN***********/

.loginContainer{
    max-width: 500px;
    margin-bottom: 150px;
}
.login-title{
    border-bottom:1px solid #ACD8EC !important;
    padding-bottom: 5px ;
    font-size: 18px !important;
}
/********** END LOGIN***********/


/****** RESET PASWORD ******/
.link-text {
    color: #ACD8EC;
    text-decoration: none;
    /* font-family: Marcellus, sans-serif; */
    font-weight: 400;
}

.link-text:hover {
    color: white;
    font-weight:500;
    text-decoration: none;
}

.reset-pass-cont {
    padding-bottom: 150px;
}
/****** END RESET PASWORD ******/

/****** NOT FOUND ******/
.not-found {
    margin-top: 20px;
    text-align: center;
    justify-items: center;

}

.not-found-img{
    padding: 0 !important;
    min-width: 290px; 
    width: 900px; /* ancho de la imagen */
    height: 200px; /* altura de la imagen */
    text-align:center;
    /* -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%); 
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);  */
    border:#ACD8EC 2px solid;
    border-top-color:  #ACD8EC
  }
  .not-found-title {
    font-family: "Marcellus" !important;
    text-decoration: none !important;
    color: white !important;
    margin-left: 0px;
}

/****** HOME ******/
/****** END NOT FOUND ******/


/****** HOME ******/
.artist-home-container { 
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/nadyapokladsite.appspot.com/o/TheArtist%2F1673990278414-nadya1.jpg?alt=media&token=21c0f912-13c5-4d4a-9d92-ea4b776c0f27"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    position:relative; */
    

}


/* .artist-home-text {
    position: absolute;
    margin: 30px 20px 20px 20px;
    align-self: center;
    color: #000000;
    font-weight: 600;
    opacity: 100% !important;
    z-index: 150;
} */


/****** END HOME ******/


@media (min-width: 768px) {
    .navbar-nav .dropdown-menu, .navbar-nav {
        background-color: #2F434A !important;
    }  
    .navbar-text, .nav-link, .dropdown-item {
        color: white !important;
        text-align: flex-end;
      
    }

    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end !important;
        align-items: center !important;
    }
}
