
.cardText {
    display:block;
    flex-direction: column;
    max-width: 1200px;
    font-size: 20px;
    font-weight: 200;
    color:white;
    text-align: start;
    margin-bottom: 5px !important;
   
  
}


.cardImage{
    min-height:200px;
    width:100%;
    margin: 0;
    padding: 0;
    margin:auto;
    
}

.cardBrand{
    background-color: #2F434A !important;
    height: 70px;
    flex-wrap: wrap;
    opacity: 75%;
    text-align: center;
      
}

.cardBrandH3 {
  
    height: 70px;
    margin: 20% 0%;
    padding-top: 5px;
    font-size: 36px;
    font-family: Marcellus;
    color: white !important;
 
}


.ImgOverlay {
    background-color: #2F434A !important;
    color: white !important;
    align-items: flex-start;
    max-width: 1200px;
    padding: 0;
    margin:auto;
    
    }


.cardText i {
    font-size: 16px;
    margin:5px;
    padding: 5px;
    
}
