.cardImage{
    min-height:200px;
    width:90%;
    
}

.cardBrand{
    background-color: #2F434A !important;
    height: 70px;
    flex-wrap: wrap;
    opacity: 40%;
    text-align: center;
      
}

.cardBrandH3 {
    position: relative;
    margin-top: 15%;
    padding-top: 5px;
    font-size: 36px;
    font-family: Marcellus;
    color: white !important;

}

.ImgOverlay {
    background-color: #2F434A !important;
    color: white !important;
    align-items: flex-start;
    max-width: 1200px;
    }

.cardText {
    margin:5px;
    padding: 5px;
    max-width: 1200px;
    font-size: 16px;
    color:white;
    text-align: center;
    margin: auto;
    margin-bottom: 1px !important;
  
    
}


.cardText i {
    font-size: 16px;
    margin:5px;
    padding: 5px;
    
}