/*CCS FOR CONTACT SECTION AND CONTACT PAGE-ADMIN*/

/*CONTACT SECTION START*/
.cardText {
    display:block;
    flex-direction: column;
    max-width: 1200px;
    font-size: 20px;
    font-weight: 200;
    color:white;
    text-align: start;
    margin-bottom: 5px !important;
}
.cardImage{
    min-height:200px;
    min-width: 290px;
    width:85%;
    margin: 0;
    padding: 0;
    margin:auto;
}
.ImgOverlay {
    background-color: #2F434A !important;
    color: white !important;
    align-items: flex-start;
    max-width: 1200px;
    width:85%;
    padding: 0;
    margin:auto;
}
.cardBrand{
    background-color: #2F434A !important;
    height: 70px;
    flex-wrap: wrap;
    opacity: 75%;
    text-align: center;
      }
.cardBrandH3 {
    height: 70px;
    margin: 20% 0%;
    padding-top: 5px;
    font-size: 36px;
    font-family: Marcellus;
    color: white !important;
}

.cardText i {
    font-size: 16px;
    margin:5px;
    padding: 5px;
   
}
/*CONTACT SECTION END*/


/*CONTACT PAGE-ADMIN START*/
.contact-form-addInput{
    width:350px !important;
    min-width: 280px;
}


.card-edition-contact{
    max-width: 450px !important;
    width: 260px !important;
    height: 250px !important;
    min-height: 150px !important;
    background-color: rgba(65, 129, 141,0.5) !important;
    color: white !important;
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;

}

.modal-content {
    background-color: #2F434A !important;

}

/*CONTACT PAGE-ADMIN START*/