/* .event-image{
    width:90%;
    max-height: 180px;
    margin:auto;
    align-items: center;


}
.event-card{
    background-color: #2f434a !important;
    justify-content: center;  
    opacity: 90%; 
    border-radius: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:15px !important;
    /* border: opacity 5%; */
    
} */
