
/*******FOOTER********/

footer{
   background-color: #2F434A;
   align-self:flex-end;
   width:100%;
   height: 200px;
   text-align: center;
   margin-top: calc(20% - 200px) !important;
}

.footerBrand{
    display: flex;
   
    justify-content: center;
    color: white !important;
    font-family: Marcellus;
    font-size: 36px !important;
    width: 100%;

}

.footerbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white !important;
    font-family: Marcellus;
    max-width: var(--footerbg-width);
        
}

.icon{
    font-size: 25px;
    padding:1px;
    margin:0;
}
.icons{
    margin:0;
    padding:0;
}
.footerbg p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: white
    
    
}

.footerContainer{
    flex-direction: column;
    margin: auto;
    padding:2px;
    width:100%;

}

.btn-footer {
    color: #ACD8EC !important;
    font-size: 26px;
    text-decoration: none;
   
    padding:1px;
    margin:0px;
    
}




/****** END FOOTER ******/

@media only screen and (max-width: 576px) {
    footer{
        margin-top: calc(60% - 200px) !important;
     }
  
  }