.responsive-Row{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    justify-content:center;
    margin:15px;
}
.home-h4 {
    font-family: Marcellus;
    font-size: 22px;
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000;
    margin:5px;
}