.box{
    min-width: 260px;
    width: 290px;
    height: 210px;
    /* height: 250px; */
    position: relative;
    background-color: rgb(47, 67, 74, 0.5) !important;

}

.box-picture{
    min-width: 260px;
    width: 290px;
    height: 210px;
    /* height: 250px; */
    box-shadow: 5px 5px 10px 0px rgba(172, 216, 236, 0.65) ;
    border-radius: 6px;
    cursor: pointer;
}


a.title-section-bg , .title-section-bg{

    min-width: 260px !important;
    width: 290px;
    background-color: #2f434a !important;
    opacity: 75%;
    position: absolute !important;
    bottom: 15px !important;
    padding: 10px !important;
    cursor: pointer !important;
   
}

.section:hover .title-section-bg {
    transform: translateY(-80%);
    opacity: 0.8;
  }
  .section .title-section-bg {
    transition: all 0.5s ease-in-out;
    transform: translateY(0%);
    opacity: 0.8;
  }


.section{
    display: flex;
    position: relative !important;
    justify-content: center;
    

}

.sectionItem-link{
    display: flex;
    text-decoration: none  !important;
    color: white !important;
    font-size: 22px;
    font-family: Marcellus;
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000;
    margin:5px;
   

}
