.image{
    max-width: 200px;
    max-height: 350px;
    margin: 10px;
}

.text {
    font-family: "Poppins" !important;
    font-size: 20px;
    color: white !important;
   text-align: justify !important;
}

.artist-content-row {
    margin-top: 20px;
    padding-top: 15px;
    border-top: groove 1px #ACD8EC;
}

.artist-content-col  {
    justify-content: center !important;
   align-self: auto !important;
   
 
}

